{% extends 'base.html.twig' %}

{% block body %}

    <div id="content-wrapper">

        <div id="content">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Variation</th>
                        <th>Date</th>
                        {#
                        <th>Open</th>
                        <th>Min</th>
                        <th>Max</th>
                        #}
                        <th>Deadline</th>
                        <th>Years</th>
                        <th>Coupon</th>
                        <th>Effective rate</th>
                        <th>Profit</th>
                        <th>Yearly rate</th>
                        <th>Ratio time/price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bond in bonds %}
                        <tr{% if bond.highlight %} class="table-warning"{% endif %}>
                            <td><a href="{{ bond.echoUrl() }}">{{ bond }}</a></td>
                            <td>{{ bond.price }}</td>
                            <td>{{ bond.echoVariation() }}</td>
                            <td>{{ bond.echoDate() }}</td>
                            {#
                            <td>{{ bond.open }}</td>
                            <td>{{ bond.min }}</td>
                            <td>{{ bond.max }}</td>
                            #}
                            <td>{{ bond.echoDeadline() }}</td>
                            <td>{{ bond.fetchYearsLeft() }}</td>
                            <td>{{ bond.echoCoupon() }}</td>
                            <td>{{ bond.echoRateEffective() }}</td>
                            <td>{{ bond.echoProfit(request.capital) }}</td>
                            <td>{{ bond.echoRatePerYear() }}</td>
                            <td>{{ bond.fetchRatioTimeProfit() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="aside">
            <div>
                <form method="get" action="{{ path('homepage') }}">
                    <div class="form-group">
                        <label for="ratioInput">Ratio >=</label>
                        <input type="text" value="{{ request.ratio }}" name="ratio" id="ratioInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="yearsStartInput">Years (from)</label>
                        <input type="number" step="1" value="{{ request.yearsStart }}" name="years_start" id="yearsStartInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="yearsEndInput">Years (to)</label>
                        <input type="number" step="1" value="{{ request.yearsEnd }}" name="years_end" id="yearsEndInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="orderInput">Order</label>
                        <select name="order" id="orderInput" class="form-control">
                            <option value="name"{% if request.order == 'name' %} selected="selected"{% endif %}>Name</option>
                            <option value="years"{% if request.order == 'years' %} selected="selected"{% endif %}>Years</option>
                            <option value="coupon"{% if request.order == 'coupon' %} selected="selected"{% endif %}>Coupon</option>
                            <option value="rate_effective"{% if request.order == 'rate_effective' %} selected="selected"{% endif %}>Rate effective</option>
                            <option value="rate_per_year"{% if request.order == 'rate_per_year' %} selected="selected"{% endif %}>Rate per year</option>
                            <option value="ratio"{% if request.order == 'ratio' %} selected="selected"{% endif %}>Ratio time/price</option>
                        </select>
                        <select name="order_direction" class="form-control">
                            <option value="asc"{% if request.orderDirection == 'asc' %} selected="selected"{% endif %}>asc</option>
                            <option value="desc"{% if request.orderDirection == 'desc' %} selected="selected"{% endif %}>desc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">
                            <input type="checkbox" value="1"{% if request.highlight %} checked="checked"{% endif %} name="highlight" class="form-check-input" />
                            Highlight
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="capitalInput">Capital</label>
                        <input type="text" value="{{ request.capital }}" name="capital" id="capitalInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}