{% extends 'base.html.twig' %}

{% block body %}

    <div id="content-wrapper">

        <div id="content">

            {% if bonds is empty %}
                <p class="lead">There are no bonds</p>
            {% else %}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Variation</th>
                            <th class="text-right">Date</th>
                            {#
                            <th class="text-right">Open</th>
                            <th class="text-right">Min</th>
                            <th class="text-right">Max</th>
                            #}
                            <th class="text-right">Deadline</th>
                            <th class="text-right">Years</th>
                            <th class="text-right">Coupon</th>
                            <th class="text-right">Effective rate</th>
                            <th class="text-right">Profit</th>
                            <th class="text-right">Yearly rate</th>
                            <th class="text-right">Ratio time/price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bond in bonds %}
                            <tr{% if bond.highlight %} class="table-warning"{% endif %}>
                                <td><a href="{{ bond.echoUrl() }}">{{ bond }}</a></td>
                                <td class="text-right">{{ bond.price }}</td>
                                <td class="text-right text-muted"><small>{{ bond.echoVariation() }}</small></td>
                                <td class="text-right text-muted"><small>{{ bond.echoDate() }}</small></td>
                                {#
                                <td class="text-right">{{ bond.open }}</td>
                                <td class="text-right">{{ bond.min }}</td>
                                <td class="text-right">{{ bond.max }}</td>
                                #}
                                <td class="text-right">{{ bond.echoDeadline() }}</td>
                                <td class="text-right">{{ bond.fetchYearsLeft() }}</td>
                                <td class="text-right">{{ bond.echoCoupon() }}</td>
                                <td class="text-right">{{ bond.echoRateEffective() }}</td>
                                <td class="text-right graph1">{{ bond.echoProfit(request.capital) }}</td>
                                <td class="text-right">{{ bond.echoRatePerYear() }}</td>
                                <td class="text-right graph2">{{ bond.fetchRatioTimeProfit() }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div>

        <div id="aside">
            <div>
                <form method="get" action="{{ path('homepage') }}">
                    <div class="form-group">
                        <label for="ratioInput">Ratio >=</label>
                        <input type="text" value="{{ request.ratio }}" name="ratio" id="ratioInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="yearsStartInput">Years (from)</label>
                        <input type="number" step="1" value="{{ request.yearsStart }}" name="years_start" id="yearsStartInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="yearsEndInput">Years (to)</label>
                        <input type="number" step="1" value="{{ request.yearsEnd }}" name="years_end" id="yearsEndInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="orderInput">Order</label>
                        <select name="order" id="orderInput" class="form-control">
                            <option value="name"{% if request.order == 'name' %} selected="selected"{% endif %}>Name</option>
                            <option value="years"{% if request.order == 'years' %} selected="selected"{% endif %}>Years</option>
                            <option value="coupon"{% if request.order == 'coupon' %} selected="selected"{% endif %}>Coupon</option>
                            <option value="rate_effective"{% if request.order == 'rate_effective' %} selected="selected"{% endif %}>Rate effective</option>
                            <option value="rate_per_year"{% if request.order == 'rate_per_year' %} selected="selected"{% endif %}>Rate per year</option>
                            <option value="ratio"{% if request.order == 'ratio' %} selected="selected"{% endif %}>Ratio time/price</option>
                        </select>
                        <select name="order_direction" class="form-control">
                            <option value="asc"{% if request.orderDirection == 'asc' %} selected="selected"{% endif %}>asc</option>
                            <option value="desc"{% if request.orderDirection == 'desc' %} selected="selected"{% endif %}>desc</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">
                            <input type="checkbox" value="1"{% if request.highlight %} checked="checked"{% endif %} name="highlight" class="form-check-input" />
                            Highlight
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="capitalInput">Capital</label>
                        <input type="text" value="{{ request.capital }}" name="capital" id="capitalInput" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}